/* HEADER */
header {
	padding-top: 30px;
	padding-bottom: 5px;
	text-align: center;
	color: red;
}
.small_header {
	color: gray;	
}
.eastersmyle {
	text-decoration: none;
	color: red;
	}
.eastersmyle:hover {
	text-decoration: none;
	color: red;
}
/* FACT MAIN */
.facts {
	padding: 5%;
	border: solid red;
	border-width: 10px;
}
img {
	max-width: 100%; 
	max-height: 100%;
}
.container {
	padding-bottom: 50px;
}
a {
	text-align: center;
	text-decoration: none;
}

.linkmore {
	color: #ff0000;
	text-decoration: none;
}
.linkmore:hover {
	color: #000000;
  	text-decoration: none;
}
.buttons {
	float: right;
	color: #ffffff;
  	font-size: 14px;
  	background: #ff0000;
  	padding: 5px 10px 5px 10px;
  	margin-right: 5px;
  	text-decoration: none;
}
.buttons:hover {
	color: #ffffff;
  	background: #ff1f1f;
  	text-decoration: none;
}

/* FOOTER */
footer {
	background-color: #FF4136;
	text-align: center;
	padding: 25px;
}
.text-white{
	color: #ffffff;
	padding-top: 100px;
}
.twitterlogo {
	display: inline-block;
	color: #ffffff;
	height: 100px;
	width: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.twitterlogo:hover {
	color: #ffffff;
}
/* SUBMIT */
.displayerrors {
	color: red;
}