AuthType Basic
AuthName "Admins only"
# todo: change on deploy
<FilesMatch "^(data|submit|edit|datafun|submitfun|editfun).*$">
AuthUserFile /home/mladen/Desktop/practice/100-facts-croatia.lo/.htpasswd
AuthType basic
Require valid-user
</FilesMatch>
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
