AuthType Basic
AuthName "Admins only"
# todo: change on deploy
<FilesMatch "^(data|submit|edit).*$">
AuthUserFile /home/mladen/Desktop/practice/100-facts-croatia.lo/.htpasswd
AuthType basic
Require valid-user
</FilesMatch>